extends base

block content
  main.main
    .error
      .error__title
        h2.heading-secondary.heading-secondary--error Sorry, my learning project is not finished yet! 
        h2.error__emoji  👽
      .error__msg= msg